*{
  margin: 0;
  padding: 0;
}

.site-container{
  text-align: center;
}
html {
  font-size: 14px;
}
body {
  line-height: 1.5;
  color: black;
  margin:0;
} 

.nav-bar{
  margin: 10px;
  height: 50px;
  position:sticky;
  top: 0;
  text-align: left;
  border: 1px solid black;
  padding: 0px 50px;
  padding-bottom: 10px;
  background: rgb(221, 219, 219);
}

.insta-logo{
  height: 30px;
  width: auto;
  margin-top: 15px;
}
.logo_name{
  height: 30px;
  width: auto;
  position:absolute;
  left: 100px;
  margin-top: 20px;
}

.camera{
  height: 30px;
  width: auto;
  position:absolute;
  right: 200px;
  margin-top: 15px;
}

.post-button{
  position:absolute;
  right: 20px;
  margin-top: 15px;
  padding: 5px;
  background-color: rgb(131, 59, 199);
  border-radius: 5px;
  font-weight: 600;
}

.post-button a{
  text-decoration: none;
  color: rgb(186, 243, 28);
}


.users{
  width: 40vw;
  margin: 20px;
  margin: 20px auto;
  text-align: left;
  border-radius: 5px;
  box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
}

.prof-image{
  height: 300px;
  width: 100%;
}
.user-details{
  text-align: left;
}

.name-loc{
  width: 200px;
  float: left;
  margin-left: 20px;
}

.name-loc p{
  font-weight: 700;
  color: gray;
  margin-bottom: 10px;
}

.threedots{
  float: right;
  height: 30px;
  width: auto;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 40%;
}

.actions{
  text-align: left;
  padding-top: 5px;
}

.like-image, .share-image, .comm{
  height: 30px;
  width: auto; 
  margin: 3px;
  margin-left: 10px;
}

.date{
  float: right;
  margin-top: 5px;
  margin-right: 20px;
  color: gray;
  font-weight: 700;
}

.likes {
  margin-left: 15px;
  color: gray;
  font-weight: 700;
}

.desc {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}